*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

h1{
  text-align: center;
  font-family: 'Playfair Display' serif;
  font-weight: bold;
  font-size: 3.25em;
}

nav ul li{
    display: inline-block;
    padding: 30px 8rem 0px 8rem;
}
.navbarItem{
    color: white;
    text-decoration: none;
}

.navbarButton{
    --hover-shadows: 16px 16px 33px #121212, -16px -16px 33px #303030;
    --accent: fuchsia;
    font-weight: bold;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 1.1em;
    background-color: #212121;
    cursor: pointer;
    color: white;
    padding: 1em 2em;
    transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
      letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
    box-shadow: 13px 13px 10px #1c1c1c, -13px -13px 10px #262626;
}
  
.navbarButton:hover {
    box-shadow: var(--hover-shadows);
}
  
.navbarButton:active {
    box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
    background-color: var(--accent);
    transform: scale(0.95);
}
  
.item{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 4px 10px 4px; 

    width: 380px; /* 190 */
    height: 508px; /* 254 */
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
}

nav ul li{
    display: inline-block;
    padding: 30px 8rem 0px 8rem;
}

main{
    scale: 2;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .button:active {
    scale: 1;
  }